GEMINI_API_KEY=
GROQ_API_KEY=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
SEARXNG_URL=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Cloudinary
CLOUDINARY_URL=cloudinary://946979991492561:tgJmVVZKnt1OFZkXib6obxFqkBY@djy0axo3u
CLOUDINARY_CLOUD_NAME=djy0axo3u
CLOUDINARY_API_KEY=946979991492561
CLOUDINARY_API_SECRET=tgJmVVZKnt1OFZkXib6obxFqkBY

# Google Drive API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# OneDrive API
ONEDRIVE_CLIENT_ID=
ONEDRIVE_CLIENT_SECRET=
ONEDRIVE_REDIRECT_URI=

FIRECRAWL_API_KEY=fc-b666b97269774f07b78a15cdeaee1262
